html, body {
    margin: 0;
    padding: 0;
    background: rgb(16, 16, 16);
}

canvas {
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    /*background: linear-gradient(#808080, black, #303030);*/
}

.level-map-image-grid {
    display: none;
}

#helpControls {
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#helpControls p {
    padding: 0;
    margin: .2rem;
    color: white;
}

button {
    border: "solid 1px white";
    background-color: rgb(193, 252, 252);
    color: rgb(1, 100, 146);
    padding: .4rem;
    margin-top: .4rem;
    margin-left: 1rem;
}

#enableAudio {
    background-color: rgb(239, 252, 193);
    color: rgb(146, 107, 1);
}

button:disabled {
    background-color: rgb(39, 39, 39);
    color: rgb(156, 156, 156);
}